*~
make.out
*.sln
*.suo
*.*sdf
*.psess
*.dat
*.*proj
dtcInterfaceLib/DTCLibTest/
dtcInterfaceLib/DTCRegDump/
dtcInterfaceLib/Debug/
dtcInterfaceLib/Release/
dtcInterfaceLib/dtcInterfaceLib/
dtcInterfaceLib/util/
dtcInterfaceLib/web/bin/
dtcInterfaceLib/web/obj/
cfoInterfaceLib/CFOLibTest/
cfoInterfaceLib/CFORegDump/
cfoInterfaceLib/Debug/
cfoInterfaceLib/Release/
cfoInterfaceLib/cfoInterfaceLib/
cfoInterfaceLib/util/
cfoInterfaceLib/web/bin/
cfoInterfaceLib/web/obj/
