svg { font: 10px sans-serif; }

.line {
    fill: none;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    -webkit-shape-rendering: crispEdges;
    -moz-shape-rendering: crispEdges;
    -ms-shape-rendering: crispEdges;
    -o-shape-rendering: crispEdges;
    shape-rendering: crispEdges;
    stroke: #000;
}

.x.axis line {
    -webkit-shape-rendering: auto;
    -moz-shape-rendering: auto;
    -ms-shape-rendering: auto;
    -o-shape-rendering: auto;
    shape-rendering: auto;
}

.y.axis line {
    -webkit-shape-rendering: auto;
    -moz-shape-rendering: auto;
    -ms-shape-rendering: auto;
    -o-shape-rendering: auto;
    shape-rendering: auto;
}

.p {
    color: #333;
    font-family: "PT Serif", serif;
    margin: 6px 10px 6px 10px;
    position: relative;
    width: 100%;
}

fieldset { margin-top: 1em; }

fieldset legend {
    font-size: large;
    font-weight: bold;
}

th {
    font-size: medium;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
}